/* src/components/ReadingCard.css */
.Jaundice-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #7bd47e;
    opacity: 0.55;
    padding: 1rem;
    margin: 2rem;
    display: inline-flex;
  justify-content: space-between;
    text-align: center;


    transition: transform 0.2s;
  }

.Jaundice-card-yellow {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: yellow;
    opacity: 0.55;
    padding: 1rem;
    margin: 2rem;
    display: inline-flex;
}
  
  .reading-card:hover {
    transform: scale(1.05);
  }
  